<launch>
    <!-- Load the Gazebo environment -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find floor_wiper)/worlds/floor_wiper_world.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
    </include>
    <param name="robot_description" textfile="$(find floor_wiper)/urdf/floor_wiper.urdf"/>
    <!-- Spawn the robot model -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model floor_wiper -param robot_description" respawn="false" output="screen"/>
    <!-- Run the robot mover script -->
    <node name="robot_mover" pkg="floor_wiper" type="robot_mover.py" output="screen" required="true"/>
    <!-- Run the dirt sensor script -->
    <node name="dirt_sensor" pkg="floor_wiper" type="dirt_sensor.py" output="screen" required="true"/>

    <node name="predictive_cleaner" pkg="floor_wiper" type="predictive_cleaner.py" output="screen" required="true"/>

</launch>


